In [23]:
import pandas as pd
df = pd.DataFrame({'Pessoa':['Silvio','Bernardo','Alline','Beatriz']})
# ,{'Idade':['38','6','38','0']}
# df = pd.DataFrame({'Pessoa':'Silvio'},{'Idade':38},{'Altura':166})
df

      Altura
Idade    NaN